<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play RPS</title>
    <!--<style>-->
        <!--h1{-->
            <!--position: absolute;-->
            <!--width:100%;-->
            <!--text-align:center;-->
            <!--top: 20%;-->
        <!--}-->
        <!--h3{-->
            <!--position: absolute;-->
            <!--width:100%;-->
            <!--text-align:center;-->
            <!--top: 40%;-->
        <!--}-->
        <!--input {-->
            <!--position: absolute;-->
            <!--text-align:center;-->
            <!--top: 55%;-->
            <!--height:5%;-->
            <!--width:25%;-->
            <!--left:37.5%;-->
        <!--}-->
        <!--button{-->
            <!--position: absolute;-->
            <!--text-align:center;-->
            <!--top: 70%;-->
            <!--left:42.5%;-->
            <!--width:15%;-->
            <!--border: 2px solid black;-->
            <!--background-color: white;-->
            <!--padding: 14px 28px;-->
        <!--}-->
        <!--button:hover{-->
            <!--background: darkturquoise;-->
            <!--color: white;-->
        <!--}-->
    <!--</style>-->
</head>
<body>
<h1>Welcome to RPS battle royale!!!!</h1>
<div class="box">
    <h2>User Registration</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <h3>Log In</h3>
    <form action="/" method="post">
        <input type="text" name="username" id="username" placeholder="Username" required/>
        <br>
        <input type="password" name="password" id="password" placeholder="Password" required/>
    </form>
</div>
<a href="game.html">
    <button id="startgame" onclick="getUser()"><input type="submit" class="button" value="Log In"/></button>
</a>
<script src="../static/game.js"></script>
</body>
</html>